@import 'mixins';
@import 'variables';

.modal-admin-message {
  display: flex;
  align-items: center; 
  padding: 10px 10px;
  width: 100%;
  border: 0px solid $color-white;
  background-color: $color-gray;
  font-size: 18px;
  margin: 10px 0;
  @include border-radius(4px);
}
